torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
gymnasium==1.2.1
pygame==2.6.1
pyglet==1.5.27
ale-py==0.8.1
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
Shimmy==1.3.0
cloudpickle==3.1.1
swig==4.3.1.post0
box2d-py==2.3.5
optuna==2.10.0
pymoo==0.6.0
cma==3.2.2
cmaes==0.12.0
scikit-learn==1.7.1
scipy==1.15.3
numpy==2.2.6
pandas==2.3.2
matplotlib==3.10.3
seaborn==0.13.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
UpSetPlot==0.9.0
venn==0.1.3
pillow==11.3.0
tqdm==4.67.1
rich==14.0.0
rich-argparse==1.7.1
SQLAlchemy==2.0.44
alembic==1.17.0
PyYAML==6.0.3
opencv-python==4.12.0.88
networkx==3.4.2
psutil==7.0.0
click==8.2.1
prettytable==3.16.0
typing_extensions==4.14.1